<a (click)="emitAddEvent()">
    <div class="uk-box-shadow-medium uk-card uk-card-default uk-width-1-1@l uk-card-hover uk-margin-remove-bottom" uk-scrollspy="cls: uk-animation-slide-left;">
       <div class="uk-card-body">
         <div class="uk-grid-small uk-flex-middle" uk-grid>
             <div class="uk-width-auto">
                 <img class="uk-border-pill" [src]="prestador?.uriFoto" width="80" height="80" [alt]="prestador.nome">
             </div>

           <div class="uk-width-expand">
               <h3 class="uk-card-title uk-margin-remove-bottom">{{prestador.tratamento}} {{prestador.nome}}</h3>
             <p class="uk-text-meta uk-margin-remove-bottom uk-margin-remove-top"><span style="text-transform: uppercase;color: #999;
               font-size: .875rem;">{{ prestador.tipoEspecialidade }}</span></p>
             </div>
         </div>
       </div>
      </div>
      </a>
 <br>
