<div class="uk-clearfix uk-visible@m">
  <div class="uk-float-right">
    <ul class="uk-breadcrumb ">
      <li><a href="#">Agendamento</a></li>
      <li><span>Novo Agendamento</span></li>
    </ul>
  </div>
</div>

<div>
  <h3 class="uk-heading-line">Empreendimentos</h3>
</div>

<div *ngIf="!empreendimentos; else listaEmpreendimentos">
    <mat-spinner></mat-spinner>
</div>

<ng-template #listaEmpreendimentos>
    <div *ngFor="let empreendimento of empreendimentos">
        <app-empreendimento [empreendimento]="empreendimento"></app-empreendimento>
        <br>
    </div>
</ng-template>




