   <div class="container">
   <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <span>AGE App</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" class="uk-card uk-card-default uk-card-body">
        <div class="uk-width-1-1@s">
            <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <li class="uk-nav-header">Menu</li>
                <li class="uk-nav-divider"></li>
                <li routerLinkActive="uk-active"><a [routerLink]="['/']"><span class="uk-margin-small-right" uk-icon="icon: home"></span> Home</a></li>
                <li class="uk-nav-divider"></li>

                <li class="uk-parent"><a href="#"><span class="uk-margin-small-right" uk-icon="icon: calendar"></span>Agendamento</a>
                  <ul class="uk-nav-sub">
                        <li routerLinkActive="uk-active"><a (click)="sidenav.close()" [routerLink]="['/empreendimentos']"> Novo Agendamento</a></li>
                        <li routerLinkActive="uk-active"><a (click)="sidenav.close()"[routerLink]="['/meus-agendamentos']"> Meus Agendamentos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="uk-container">
          <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--<mat-toolbar class="footer">Footer</mat-toolbar>-->
</div>
