li {
  &:hover {
    cursor: pointer
  }
}

div .uk-breadcrumb {
  margin-top: 20px;
}


div .uk-card-body {
    p {
      font-size: 13px;
      color: #3b4859;
    }
}

mat-icon {
  color :red;
  margin-bottom: 30px;
}

span#telefone {
  font-size: 13px;
  color: #3b4859;
}

div {
  h3 {
    color: #3b4859;
  }
}

button  {
  margin: 6px 0px 0px 5px;
}

div#informacaoConsulta  {
  margin-top: 20px;
  margin-bottom: -67px;
}
