<div class="uk-clearfix uk-visible@m">
  <div class="uk-float-right">
    <ul class="uk-breadcrumb ">
      <li [routerLink]="['/empreendimentos']"><span>Empreendimentos</span></li>
      <li [routerLink]="['/empreendimentos', agendamento?.Empreendimento]"><span>Prestadores</span></li>
      <li><span>Agendamento</span></li>
    </ul>
  </div>
</div>




<div class="uk-card uk-card-default uk-width-1-1@l uk-card-hover uk-margin-remove-bottom"
  uk-scrollspy="cls: uk-animation-slide-left;">
  <div class="uk-card-body">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-expand">
        <h3 class="uk-heading-line"><span>Informações da Consulta</span></h3>

        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle"
              src="https://firebasestorage.googleapis.com/v0/b/agenda-25f4d.appspot.com/o/Dr%20Jo%C3%A3o%20Evandro.jpg?alt=media&token=801a18c2-bc75-4a17-98f1-8f7cb2575651"
              width="80" height="80">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Dr. João Evandro</h3>
            <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">
              <span class="uk-text-middle"><strong>Especialidade :</strong> REABILITAÇÃO ORAL</span>
            </p>
          </div>
        </div>
        <br>
        <br>

        <span class="uk-margin-small-right uk-icon" uk-icon="location"></span>Localização
        <hr>
        <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom"><strong>Núcleo Integrado de Odontologia</strong></p>
        <p class="uk-margin-remove-top uk-margin-remove-bottom"> Edifício Metropolitan Tower, Rua dos Mundurucus 3100 - Sala 101 , Cremação - 66040-640 </p>

        <br>
        <span class="uk-margin-small-right uk-icon" uk-icon="credit-card"></span>Convênio
        <hr>

        <img class="uk-border-circle"
        src="https://firebasestorage.googleapis.com/v0/b/agenda-25f4d.appspot.com/o/Uniodonto.jpg?alt=media&token=fbe9dd3e-b66d-46ae-983a-2c3a4eb69977"
        width="200" height="200">
        <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom">
            <span class="uk-text-middle"><strong>Convênio Selecionado :</strong> UNIODONTO</span>
          </p>
        <br>
        <br>
        <span class="uk-margin-small-right uk-icon" uk-icon="clock"></span>Horários Disponíveis
        <hr>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="01-06-2019">
                <mat-chip-list>
                    <mat-chip color="primary" selected>10:05</mat-chip>
                    <mat-chip color="primary">12:05</mat-chip>
                    <mat-chip color="primary" >01:05</mat-chip>
                    <mat-chip color="primary" >02:30</mat-chip>
                  </mat-chip-list>
             </mat-tab>
            <mat-tab label="01-07-2019">  <button class="uk-button uk-button-primary">Primary</button> </mat-tab>
            <mat-tab label="01-08-2019">  <button class="uk-button uk-button-primary">Primary</button> </mat-tab>
            <mat-tab label="01-09-2019">  <button class="uk-button uk-button-primary">Primary</button> </mat-tab>
            <mat-tab label="01-10-2019">  <button class="uk-button uk-button-primary">Primary</button> </mat-tab>
            <mat-tab label="01-10-2019">  <button class="uk-button uk-button-primary">Primary</button> </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>



</div>
